*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 46px;
    font-weight: 500;
    line-height: 55.67px;
    padding-top: 70px;
    text-align: center;
}
.box{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px 0 50px 0;
}
.container_box_blank{
 display: grid;
 grid-template-columns: 1fr 1fr;
    
}





input{
    width: 300px;
height: 60px;
padding: 20px 15px 20px 15px;
border-radius: 5px;
border: 1px lightslategray solid;

margin: 5px 0 5px 0px;
}

.support{
    margin-bottom: 50px;
}

p{
    
}


button{
    width: 300px;
height:60px;
padding: 20px 12px 20px 12px;
border-radius: 5px;
border: 1px blue solid;
color: white;
background-color: blue;
margin-top: 30px;
}




.border_blue{
    border: 2px #4200FF solid;
}

.color_blue{
    color: #4200FF;
}

